<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Mikhail Eremeev aka Velonski">
        <meta name="description" content="Личный Интернет-сайт Михаила Еремеева: блог за январь 2020 г.">
        <meta name="keywords" content="михаил еремеев velonski личный сайт блог январь 2020">
        <meta name="referrer" content="origin">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Velonski.ru - Блог за январь 2020 года</title>
    </head>
    <body>
        <a href="../index.html">velonski.ru</a>

        <h1>Записи блога за январь 2020 года</h1>

        <ul>
            <li>
                <h3 id="note_1">Тема записи</h3>
                <small>01.01.2020</small>
                <p>
                    Это шаблон записи для личного блога.
                </p>
            </li>
        </ul>
    </body>
</html>
